@media only screen and (min-width: 280px) {
	#logo {
		width: 53.2% !important;
	}
	#logo-container, #canon-home-link {
		display: block;
		height: inherit;
	}
	#logo-container > #canon-home-link img {
		position: relative;
		left: -17px;
	}
	#wish_list, #wishListLink {
		display: none !important;
	}
	#header_grey .links .fa.fa-user {
	    font-size: 1.2em !important;
	    transform: rotate(0deg);
	    padding-left: 7px;
	}
	#header_grey #header_top_espot_two {
	    padding: 0;
	}
	#header_grey a .left_espot>span {
	    padding: 0;
	}
	#header_grey #header_top_espot_two span.call {
	    font-family: "OpticSans 201";
	}
	span.alignment.call {
	    padding: 0 6px 0 0;
	}
	#headerRow2 #headerNav {
		height: auto;
	}
	.links .fa.fa-user {
		margin-right: 0px;
	}
	.showAccount #header_grey .links .fa.fa-user {
		transform: rotate(360deg);
	}
	.maskScreen.go-under-nav {
		z-index: 1;
	}
}
@media only screen and (min-width: 400px) {
	#logo-container > #canon-home-link img {
		left: 0;
	}
	#logo {
		left: 10%;
	}
}
@media only screen and (min-width: 769px) {
	#header_grey a {
	    padding-top: 0;
	    padding-bottom: 0;
	}
	#header_grey #header_top_espot_two span.call, #header_grey a .left_espot>span {
	    vertical-align: middle;
	}
	#account_links.links, #header_top_espot_two {
	    padding-top: 0;
	    height: 25px;
	    line-height: 25px;
	}
	#header_grey .fa.fa-phone {
	    vertical-align: middle;
	    color: #000;
	}
	#logo {
		left: 0;
	}
}
@media only screen and (min-width: 1264px){
	.hdrShop.hdrShop-search {
		min-width:23%;
	}
	.searchDropdown {
		width:23%;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 850px){
	.hdrShop-links>div {
		padding:0 12px;
	}
}
@media only screen and (max-width: 850px) and (min-width: 769px){
	.hdrShop-links>div {
		padding:0 7px;
	}
}
@media (min-width: 801px) {
	li.sub-categories__item.show-for-medium-down.bold {
		display: block !important;
	}
}
@media only screen and (min-width: 1264px) {
	.searchDropdown {
		position: fixed;
		top: 85px;
		left: auto;
		right: 5.25%;
		width: 25%;
	}
}
@media only screen and (min-width: 1390px) {
	.searchDropdown {
		right: 5%;
	}
}
@media only screen and (min-width: 1460px) {
	.searchDropdown {
		right: 5%;
	}
}
@media only screen and (min-width: 1600px) {
	.searchDropdown {
		right: 4.25%;
	}
}
#contentRecommendationWidget_HEADER1_ESPOT {
    padding: 0;
    position: absolute;
    left: 0;
    max-width: 100%!important;
}
#contentRecommendationWidget_HEADER1_ESPOT #hdr_espot_two>#code_hdr {
	font-size: 23px !important;
	font-family: "OpticSans 201";
	display: block;
}
#headerRow1 {
    overflow: visible;
}
#headerRow3 #headerlinks #account_links {
    z-index: 1;
    position: relative;
}
