.colorBox {
  height: 36px;
  width: 36px;
  border: none;
}
.selectedColorBox {
  border:none;
  height:36px;
  width:36px;
}
.selectedColorBox .colorBox {
  border:none;
  height:36px;
  width:36px;
}
.selectedColorBox .colorBox img {
  position: relative;
}
.selectedColorBox .colorBox img[alt]:after {  
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: 'Helvetica';
  font-weight: 300;
  text-align: center;
  content: attr(alt);
}
.colorBox img {
  border: solid 1px transparent;
  border-radius:4px;
  transition: all .5s ease;
}
.selectedColorBox .colorBox img {
  border: solid 1px #e00;
  border-radius:4px;
}
.colorBox img:hover {
  border: solid 1px #e00;
}
